@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

// colors
$cyan: #31C3BD;
$cyan-hover: #65E9E4;
$yellow: #F2B137;
$yellow-hover: #FFC860;
$dark-navy: #1A2A33;
$semi-dark-nevi: #1F3641;
$silver: #A8BFC9;
$silver-hover: #DBE8ED;

// font size
$h-l: 4rem;
$h-m: 2.4rem;
$h-s: 2rem;
$h-xs: 1.6rem;
$body: 1.4rem;

// letter spacing
$kerning-l: .25rem;
$kerning-m: .15rem;
$kerning-s: .125rem;
$kerning-xs: .1rem;
$kerning-body: .08rem;

