@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Outfit";
}

body {
  background-color: #1A2A33;
}

.start-game__buttons--player, .start-game__buttons--cpu {
  color: #1A2A33;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  min-width: 32.7rem;
  border: none;
  border-radius: 1.5rem;
}
@media screen and (min-width: 768px) {
  .start-game__buttons--player, .start-game__buttons--cpu {
    min-width: 46rem;
  }
}

.start-game {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1A2A33;
}
.start-game__choose-player {
  color: #A8BFC9;
  text-transform: uppercase;
  min-width: 32.7rem;
  margin: 3.2rem 2.4rem;
  padding: 2.4rem 2.4rem 3.2rem;
  text-align: center;
  background-color: #1F3641;
  box-shadow: inset 0px -0.8rem 0px #10212A;
  border-radius: 1.5rem;
}
.start-game__choose-player h1 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2.4rem;
}
.start-game__choose-player p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.875px;
  opacity: 0.5;
  margin-top: 1.7rem;
}
.start-game__choose-player--div {
  width: 27.9rem;
  height: 7.2rem;
  padding: 0.8rem 0.9rem;
  border-radius: 1rem;
  background-color: #1A2A33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.start-game__choose-player .active {
  background-color: #A8BFC9;
}
.start-game__choose-player--x {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13.2rem;
  height: 5.4rem;
  border-radius: 1rem;
}
.start-game__choose-player--o {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13.2rem;
  height: 5.4rem;
  border-radius: 1rem;
}
@media screen and (min-width: 768px) {
  .start-game__choose-player {
    min-width: 46rem;
  }
  .start-game__choose-player--div {
    width: 41.2rem;
  }
  .start-game__choose-player--x {
    width: 19.8rem;
  }
  .start-game__choose-player--o {
    width: 19.8rem;
  }
}
.start-game__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-game__buttons--cpu {
  background-color: #F2B137;
  padding: 1.4rem 7.7rem 2.2rem;
  box-shadow: inset 0px -0.8rem 0px #CC8B13;
}
.start-game__buttons--player {
  background-color: #31C3BD;
  padding: 1.4rem 6rem 2.2rem;
  margin-top: 1.6rem;
  box-shadow: inset 0px -0.8rem 0px #118C87;
}
@media screen and (min-width: 1024px) {
  .start-game .choose-player-hover {
    background-color: rgba(168, 191, 201, 0.05);
    cursor: pointer;
  }
  .start-game__buttons--cpu:hover {
    background-color: #FFC860;
    cursor: pointer;
  }
  .start-game__buttons--player:hover {
    background-color: #65E9E4;
    cursor: pointer;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A2A33;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 2.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.game__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.game__menu--turn {
  width: 9.6rem;
  height: 4rem;
  margin-left: 4.6rem;
  margin-right: 7.4rem;
  background-color: #1F3641;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -0.4rem 0px #10212A;
  border-radius: 0.5rem;
}
.game__menu--turn h1 {
  color: #A8BFC9;
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
}
.game__menu--turn img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.9rem;
}
.game__menu--restart {
  width: 4rem;
  height: 4rem;
  background-color: #A8BFC9;
  box-shadow: inset 0px -0.4rem 0px #6B8997;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.game__menu--restart img {
  width: 1.538rem;
  height: 1.538rem;
}
@media screen and (min-width: 1024px) {
  .game__menu--restart:hover {
    cursor: pointer;
    background-color: #DBE8ED;
  }
}
.game__board {
  max-width: 32.8rem;
  margin-top: 6.4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.game__board--div {
  min-width: 9rem;
  min-height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1F3641;
  box-shadow: inset 0px -0.8rem 0px #10212A;
  border-radius: 1rem;
}
.game__board--div img {
  width: 4rem;
  height: 4rem;
}
.game__score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.game__score--x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 6.4rem;
  background-color: #31C3BD;
  border-radius: 1rem;
}
.game__score--ties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 6.4rem;
  background-color: #A8BFC9;
  border-radius: 1rem;
}
.game__score--o {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 6.4rem;
  background-color: #F2B137;
  border-radius: 1rem;
}
.game__score p {
  color: #1A2A33;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.08rem;
}
.game__score h3 {
  color: #1A2A33;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .game__menu--turn {
    width: 14rem;
    height: 5.2rem;
    margin-left: 8.5rem;
    margin-right: 10.8rem;
  }
  .game__menu--restart {
    width: 5.2rem;
    height: 5.2rem;
  }
  .game__board {
    max-width: 46rem;
    margin-top: 2rem;
  }
  .game__board--div {
    width: 14rem;
    height: 14rem;
  }
  .game__board--div img {
    width: 6.4rem;
    height: 6.4rem;
  }
  .game__score--x {
    width: 14rem;
    height: 7.2rem;
  }
  .game__score--ties {
    width: 14rem;
    height: 7.2rem;
  }
  .game__score--o {
    width: 14rem;
    height: 7.2rem;
  }
}

.next-btn, .quit-btn {
  height: 5.2rem;
  color: #1A2A33;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
}

.restart__div, .tied__div, .won__div, .lost__div {
  background-color: #1F3641;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4.7rem 4.8rem;
  text-transform: uppercase;
}
.restart__div h3, .tied__div h3, .won__div h3, .lost__div h3 {
  color: #A8BFC9;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.08rem;
}
@media screen and (min-width: 768px) {
  .restart__div h3, .tied__div h3, .won__div h3, .lost__div h3 {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
}

.won__div--winner, .lost__div--winner {
  display: flex;
  align-items: center;
}
.won__div--winner img, .lost__div--winner img {
  width: 3rem;
  height: 3rem;
}
.won__div--winner h1, .lost__div--winner h1 {
  color: #F2B137;
  margin-left: 0.8rem;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 768px) {
  .won__div--winner img, .lost__div--winner img {
    width: 6.4rem;
    height: 6.4rem;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
  }
  .won__div--winner h1, .lost__div--winner h1 {
    margin-left: 2.4rem;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.25rem;
  }
}

.quit-btn {
  width: 7.6rem;
  background-color: #A8BFC9;
  box-shadow: inset 0px -0.4rem 0px #6B8997;
}
@media screen and (min-width: 1024px) {
  .quit-btn:hover {
    background-color: #DBE8ED;
    cursor: pointer;
  }
}

.next-btn {
  width: 15.6rem;
  background-color: #F2B137;
  box-shadow: inset 0px -0.4rem 0px #CC8B13;
}
@media screen and (min-width: 1024px) {
  .next-btn:hover {
    background-color: #FFC860;
    cursor: pointer;
  }
}

.lost {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lost__div--buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.won {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.won__div--winner h1 {
  color: #31C3BD;
}
.won__div--buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.tied {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tied__div {
  padding: 6.1rem 6.8rem;
}
.tied__div h2 {
  color: #A8BFC9;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.15rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .tied__div {
    padding: 6.7rem 25rem;
  }
  .tied__div h2 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.25rem;
    margin-bottom: 3.1rem;
  }
}
.tied__div--buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.restart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restart__div {
  padding: 6.1rem 3.4rem;
}
.restart__div h2 {
  color: #A8BFC9;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.15rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .restart__div {
    padding: 6.7rem 20.8rem;
  }
  .restart__div h2 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.25rem;
    margin-bottom: 3.1rem;
  }
}
.restart__div--buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.restart__div--buttons .no {
  width: 13.9rem;
}
.restart__div--buttons .yes {
  width: 15.1rem;
}/*# sourceMappingURL=style.css.map */